.link-team{
    color: white;
    text-decoration: none;
    
.HomeTile {
    border: 3px solid;
    padding: 30px;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-decoration: none;

   
       
    }
    
}

.HomeTile:hover{
    background-color: rgb(172, 200, 241);
    color:black;
    cursor: pointer;

    .link-team:hover{
        color: black;
        text-decoration: none;
    }
}

