
.App {
  text-align: left;
  padding-left: 10px;
}

.winning-team {
  background-color: #4da375;
}

.losing-team {
  background-color: #a34d5d;
}


.home-title-link{
  color: White;
  text-decoration: none;
  font-size: 3rem;
}

.home-title-div {
  text-align: center;
}