@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Pangolin&family=Roboto&display=swap');




body {
  margin: 0;
  font-family: 'Pangolin', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #46464E;
  color:white;
  max-width: 1100px;
  margin: 0 auto;
}

code {
  font-family: 'Roboto', sans-serif;
}
